{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
<p>Welcome back {{ email }}!</p>

<p id='match-pw'></p>

<form action='/login_session' method='POST' id='check-password'>
    <input type="password" name="password" placeholder="Enter password" id="user_password"></input>
    <input type='hidden' name='email' value={{ email }}></input>
    <input type="submit" value="Login" id="login"></input>
</form>

<script>
console.log('starting js');
$('#login').on('click', function(evt) {
    evt.preventDefault();
    console.log('hi');
    var password = {'password': $('#user_password').val(),
                    'email': '{{ email }}' };
    $.post('/check_password', password, function(data) {
        if (data === 'False') {
            $('#match-pw').html('Idiot. Incorrect password. Try again.');
        } else {
            console.log("Correct!");
            $('#check-password').submit();
        }
    })
})
</script>

{% endblock %}


<!-- Check to see if password matches user password in database. 
Create check-password route in server.py
Grab the form arguments through the post method, start the session, flash a successful login message
and redirect user to homepage -->