{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
<p>Welcome back {{ email }}!</p>

<p id='match-pw'></p>

<form action='/check_password' method='POST'>
    <input type="password" name="password" placeholder="Enter password" id="user_password"></input>
    <input type="submit" value="Login" id="login"></input>
</form>

<script>
$('#login').on('click', function(evt) {
    var password = {'password': $('#user_password').val(),
                    'email': {{ email }} };
    $.post('/check_password', password, function(data) {
    if (data === 0) {
        evt.preventDefault();
        $('#match-pw').html('Incorrect password. Try again.');
    };
}
}
</script>

{% endblock %}


<!-- Check to see if password matches user password in database. 
Create check-password route in server.py
Grab the form arguments through the post method, start the session, flash a successful login message
and redirect user to homepage -->