{% extends 'base.html' %}
{% block content %}
<h1>SIGN UP NOW</h1>
<p>Complete sign-up form for {{ email }}:</p></br>

<p id='enter-pw'></p>

<form action="/add_new_user" method="POST">
    <input type="hidden" name="email" value={{ email }}></input>
    <input type="password" name="password" placeholder="Password" id='pw'></input>
    <input type="number" name="age" placeholder="Age"></input>
    <input type="text" name="zipcode" placeholder="Zipcode"></input>
    <input type="submit" id='create-account' value="Create account"></input>


</form>

<script>
// This is not work, we've tried === null, '' and is None. :(
$('#create-account').on('click', function(evt) {
    if ($('#pw').val() === null) {
        console.log("has no password");
        evt.preventDefault();
        $('#enter-pw').html('Please enter a password');
    } else {
        console.log("has password");
    }
})

</script>


{% endblock %}